{% extends 'base.html.twig' %}

{% block title %}
    AFA-Manager
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <h1>Statistique en temps réel (Page en cours de développement)</h1>
    <table class="table table-sm table-hover">
        <thead class="text-center">
            <tr>
                <th class="align-middle" scope="col">Province</th>
                <th class="align-middle" scope="col"># Pratiquants</th>
                <th class="align-middle" scope="col"># Professeurs</th>
                <th class="align-middle" scope="col"></th>
            </tr>
        </thead>
        <tbody class="text-center">
            {% for province in statistics %}
            <tr>
                <td class="align-middle text-left">{{ listData.province(province.Id) }}</td>
                <td class="align-middle">
                    <a data-toggle="collapse" href="#collapseSex{{ province.Id }}" aria-expanded="false" aria-controls="collapseSex{{ province.Id }}">{{ province.Total.1 + province.Total.2 }}</a>
                </td>
                <td class="align-middle">{{ province.Total.3 }}</td>
                <td class="align-middle"></td>
            </tr>
            <tr class="collapse" id="collapseSex{{ province.Id }}">
                <td class="align-middle" colspan="4">
                    <table class="table table-sm table-hover">
                        <thead class="text-center">
                            <tr>
                                <th class="align-middle" scope="col">Homme</th>
                                <th class="align-middle" scope="col">Femme</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="align-middle">{{ province.Total.1 }}</td>
                                <td class="align-middle">{{ province.Total.2 }}</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
{% endblock %}
