{% extends 'base.html.twig' %}

{% block title %}
    AFA-Manager
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <h1>Liste des stages</h1>
    <a class="btn btn-primary" href="{{ path('secretariat-trainingCreate') }}">Ajouter</a>
    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Titre</th>
                <th scope="col"># Cours</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
        {% for training in trainings %}
            <tr>
                <td class="align-middle">{{ training.training_session_date|date("d/m/Y") }}</td>
                <td class="align-middle">{{ training.training_name }}</td>
                <td class="align-middle">{{ training.training_total_sessions }}</td>
                <td class="align-middle"><a class="btn btn-primary" href="{{ path('secretariat-trainingDetail', {'training': training.training_id}) }}">Modifier</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
{% endblock %}
