{% extends 'base.html.twig' %}

{% block title %}
    AFA-Manager
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <h1>Liste des gestionnaire du club</h1>
    <table>
        <tr>
            <th>Login</th>
            <th>Prénom</th>
            <th>Nom</th>
            <th>N° de licence</th>
            <th>Dernière connexion</th>
            <th>Status Accès</th>
            <th>Commandes</th>
        </tr>
        {% for manager in clubTools.managerList %}
            <tr>
                <td>{{ manager.login }}</td>
                <td>{% if manager.userMember != null %}{{ manager.userMember.getMemberFirstname|title }}{% else %}{{ manager.userFirstname }}{% endif %}</td>
                <td>{% if manager.userMember != null %}{{ manager.userMember.getMemberName|title }}{% else %}{{ manager.userRealName|title }}{% endif %}</td>
                <td>{% if manager.userMember != null %}{{ manager.userMember.memberId }}{% else %}Aucun{% endif %}</td>
                <td>{% if manager.userLastActivity != null %}{{ manager.userLastActivity|date("d/m/Y") }}{% else %}Aucune{% endif %}</td>
                <td>{% if manager.userStatus == 0 or manager.userStatus > 4 %}Verrouillé{% else %}Actif{% endif %}</td>
                <td><a href="{{ path('secretariat_club_manager_delete', {'club': clubTools.getClub.getClubId(), 'user': manager.id}) }}">Supprimer</a>{% if manager.userStatus == 0 or manager.userStatus > 4 %} - <a href="{{ path('secretariat_access_reactivate', {'user': manager.id}) }}">Réactiver</a> - {% endif %} - <a href="{{ path('secretariat_access_password_modify', {'user': manager.id}) }}">Modifier Mot de Passe</a></td>
            </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><a href="{{ path('secretariat_club_manager_add', {'club': clubTools.getClub.getClubId()}) }}">Ajouter</a></td>
        </tr>
    </table>
{% endblock %}

{% block javascripts %}
{% endblock %}
