{% extends 'base.html.twig' %}

{% block title %}
    AFA-Manager
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <h1>Liste des gestionnaire {{ clubTools.club.clubName|title }}{% if nextManagedClub != 0 %}<a class="btn btn-primary" href="{{ path('club_manager_index') }}?change_actual={{ nextManagedClub }}">Club Suivant</a>{% endif %}</h1>
    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th scope="col">Login</th>
                <th scope="col">Prénom</th>
                <th scope="col">Nom</th>
                <th scope="col">N° de licence</th>
                <th scope="col">Dernière connexion</th>
            </tr>
        </thead>
        <tbody>
        {% for manager in clubTools.managerList %}
            <tr>
                <td>{{ manager.login|title }}</td>
                <td>{% if manager.userMember != null %}{{ manager.userMember.getMemberFirstname|title }}{% else %}{{ manager.userFirstname }}{% endif %}</td>
                <td>{% if manager.userMember != null %}{{ manager.userMember.getMemberName|title }}{% else %}{{ manager.userName|title }}{% endif %}</td>
                <td>{% if manager.userMember != null %}{{ manager.userMember.memberId }}{% else %}Aucun{% endif %}</td>
                <td>{% if manager.userLastActivity != null %}{{ manager.userLastActivity|date("d/m/Y") }}{% else %}Aucune{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
{% endblock %}
