{% extends 'base.html.twig' %}

{% block stylesheets %}
{% endblock %}

{% block body %}

    <h1>{{ member.getMemberFirstname()|title }} {{ member.getMemberName()|title }}</h1>
    <br />
    <div class="data-frame data-small">
        <div class="data-title">Données personnelles &nbsp;<a class="btn btn-primary" data-toggle="modal" data-target="#edit">Modifier</a></div>
        <div class="data-content">
            <span class="memberPhoto"><img alt="" src="{{ asset('uploads/photos/'~member.getMemberPhoto()) }}" height="200px"/></span>

            <span class="memberLabel">Nom:</span>
            <span class="memberField">{{ member.getMemberName() }}</span>&nbsp;
            {% if member.getMemberModification() != null and member.getMemberModification().getMemberModificationFirstname() != null %}
            <button type="button" class="btn btn-sm btn-outline-warning" title="Modification en attente" data-container="body" data-toggle="popover" data-placement="right" data-content="{{ member.getMemberModification().getMemberModificationFirstname() }}" data-original-title="Popover Title"><i class="bi bi-exclamation-triangle-fill"></i></button>
            {% endif %}
            </br>

            <span class="memberLabel">Prénom:</span>
            <span class="memberField">{{ member.getMemberFirstname() }}</span>&nbsp;
            {% if member.getMemberModification() != null and member.getMemberModification().getMemberModificationName() != null %}
                <button type="button" class="btn btn-sm btn-outline-warning" title="Modification en attente" data-container="body" data-toggle="popover" data-placement="right" data-content="{{ member.getMemberModification().getMemberModificationName() }}" data-original-title="Popover Title"><i class="bi bi-exclamation-triangle-fill"></i></button>
            {% endif %}
            </br>

            <span class="memberLabel">Naissance:</span>
            <span class="memberField">{{ member.getMemberBirthday()|date("d/m/Y") }}</span>&nbsp;
            {% if member.getMemberModification() != null and member.getMemberModification().getMemberModificationBirthday() != null %}
                <button type="button" class="btn btn-sm btn-outline-warning" title="Modification en attente" data-container="body" data-toggle="popover" data-placement="right" data-content="{{ member.getMemberModification().getMemberModificationBirthday()|date("d/m/Y") }}" data-original-title="Popover Title"><i class="bi bi-exclamation-triangle-fill"></i></button>
            {% endif %}
            </br>

            <span class="memberLabel">Adresse:</span>
            <span class="memberField">{{ member.getMemberAddress() }}</span>&nbsp;
            {% if member.getMemberModification() != null and member.getMemberModification().getMemberModificationAddress() != null %}
            <button type="button" class="btn btn-sm btn-outline-warning" title="Modification en attente" data-container="body" data-toggle="popover" data-placement="right" data-content="{{ member.getMemberModification().getMemberModificationAddress() }}" data-original-title="Popover Title"><i class="bi bi-exclamation-triangle-fill"></i></button>
            {% endif %}
            </br>

            <span class="memberLabel">Localité:</span>
            <span class="memberField">{{ member.getMemberZip() }} {{ member.getMemberCity() }}</span>&nbsp;
            {% if member.getMemberModification() != null and (member.getMemberModification().getMemberModificationZip() != null or member.getMemberModification().getMemberModificationCity() != null) %}
            <button type="button" class="btn btn-sm btn-outline-warning" title="Modification en attente" data-container="body" data-toggle="popover" data-placement="right" data-content="{{ member.getMemberModification().getMemberModificationZip() }} {{ member.getMemberModification().getMemberModificationCity() }}" data-original-title="Popover Title"><i class="bi bi-exclamation-triangle-fill"></i></button>
            {% endif %}
            </br>

            <span class="memberLabel">Pays:</span>
            <span class="memberField">{{ listData.getCountryName(member.getMemberCountry()) }}</span>&nbsp;
            {% if member.getMemberModification() != null and member.getMemberModification().getMemberModificationCountry() != null %}
            <button type="button" class="btn btn-sm btn-outline-warning" title="Modification en attente" data-container="body" data-toggle="popover" data-placement="right" data-content="{{ listData.getCountryName(member.getMemberModification().getMemberModificationCountry()) }}" data-original-title="Popover Title"><i class="bi bi-exclamation-triangle-fill"></i></button>
            {% endif %}
            </br>

            <span class="memberLabel">Email:</span>
            <span class="memberField">{{ member.getMemberEmail() }}</span>&nbsp;
            {% if member.getMemberModification() != null and member.getMemberModification().getMemberModificationEmail() != null %}
            <button type="button" class="btn btn-sm btn-outline-warning" title="Modification en attente" data-container="body" data-toggle="popover" data-placement="right" data-content="{{ member.getMemberModification().getMemberModificationEmail() }}" data-original-title="Popover Title"><i class="bi bi-exclamation-triangle-fill"></i></button>
            {% endif %}
            </br>

            <span class="memberLabel">Téléphone:</span>
            <span class="memberField">{{ member.getMemberPhoneFormated() }}</span>&nbsp;
            {% if member.getMemberModification() != null and member.getMemberModification().getMemberModificationPhone() != null %}
            <button type="button" class="btn btn-sm btn-outline-warning" title="Modification en attente" data-container="body" data-toggle="popover" data-placement="right" data-content="{{ member.getMemberModification().getMemberModificationPhone() }}" data-original-title="Popover Title"><i class="bi bi-exclamation-triangle-fill"></i></button>
            {% endif %}
            </br>

            <span class="memberLabel">Aïkikaï Id:</span>
            <span class="memberField">{{ member.getMemberAikikaiId() }}</span>&nbsp;
            {% if member.getMemberModification() != null and member.getMemberModification().getMemberModificationAikikaiId() != null %}
            <button type="button" class="btn btn-sm btn-outline-warning" title="Modification en attente" data-container="body" data-toggle="popover" data-placement="right" data-content="{{ member.getMemberModification().getMemberModificationAikikaiId() }}" data-original-title="Popover Title"><i class="bi bi-exclamation-triangle-fill"></i></button>
            {% endif %}
            </br>
        </div>
    </div>

    <div class="data-frame data-large">
        <div class="data-title collapseChar collapsed" data-toggle="collapse" data-target="#Titles">Historique des titres</div>
        <div id="Titles" class="data-content collapse">
            <table class="table table-sm table-hover">
                <thead>
                <tr>
                    <th scope="col">Titre</th>
                    <th scope="col">Date</th>
                    <th scope="col">N° Diplôme</th>
                </tr>
                </thead>
                <tbody>
                {% for title in memberTools.getTitles() %}
                    <tr>
                        <td>{{ listData.gradeTitle(title.Rank) }}</td>
                        <td>{{ title.Date|date("d/m/Y") }}</td>
                        <td>{{ title.Certificate }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="data-frame data-large">
        <div class="data-title collapseChar collapsed" data-toggle="collapse" data-target="#Licence">Historique Licence n° {{ memberTools.getMember.getMemberId() }}</div>
        <div id="Licence" class="data-content collapse">
            <table class="table table-sm table-hover">
                <thead>
                <tr>
                    <th scope="col">Echéance</th>
                    <th scope="col">Club</th>
                </tr>
                </thead>
                <tbody>
                {% for licence in memberTools.getLicences().history %}
                    <tr>
                        <td>{{ licence.getMemberLicenceDeadline()|date("d/m/Y") }}</td>
                        <td>{{ licence.getMemberLicenceClub().getClubId() }} - {{ licence.getMemberLicenceClub().getClubName() }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="data-frame data-large">
        <div class="data-title collapseChar collapsed" data-toggle="collapse" data-target="#Grades">Historique des grades</div>
        <div id="Grades" class="data-content collapse">
            <span>Début de pratique : {{ memberTools.getMember.getMemberStartPractice|date("d/m/Y") }}</span><br/><br/>
            {% if memberTools.getGrades().exam.candidate %}<a href="{{ path('member-myApplication', {'type': 1}) }}">Candidature au prochain examen fédéral</a> {% endif %}
            <table class="table table-sm table-hover">
                <thead>
                <tr>
                    <th scope="col">Grade</th>
                    <th scope="col">Date</th>
                    <th scope="col">N° Diplôme</th>
                    <th scope="col">Résultat</th>
                    <th scope="col">Type</th>
                </tr>
                </thead>
                <tbody>
                {% for grade in memberTools.getGrades().history %}
                    <tr>
                        <td>{{ listData.getGrade(grade.Rank) }}</td>
                        <td>{{ grade.Date|date("d/m/Y") }}</td>
                        <td>{{ grade.Certificate }}</td>
                        <td>{{ listData.getExamResult(grade.Result) }}</td>
                        <td>{{ listData.getExamType(grade.Type) }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="data-frame data-large">
        <div class="data-title collapseChar collapsed" data-toggle="collapse" data-target="#Dojo">Dojo(s)</div>
        <div id="Dojo" class="data-content collapse">
            {% if clubTools.getLessonsDetails().Dojos != null %}
                <h4>Localité</h4>
                <table class="table table-sm table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Salle</th>
                        <th scope="col">Adresse</th>
                        <th scope="col">Code postal</th>
                        <th scope="col">Localité</th>
                        <th scope="col">Tatamis (m²)</th>
                        <th scope="col">DEA</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for dojo in clubTools.getLessonsDetails().Dojos %}
                        <tr>
                            <td>{{ dojo.getClubDojoName() }}</td>
                            <td>{{ dojo.getClubDojoStreet() }}</td>
                            <td>{{ dojo.getClubDojoZip() }}</td>
                            <td>{{ dojo.getClubDojoCity() }}</td>
                            <td>{{ dojo.getClubDojoTatamis() }}</td>
                            <td>{% if dojo.getClubDojoDEA() %}Oui{% else %}Non{% endif %}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            {% if clubTools.getLessonsDetails().Lessons != null %}
                <h4>Horaire cours</h4>
                <table class="table table-sm table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Jour</th>
                        <th scope="col">Début</th>
                        <th scope="col">Fin</th>
                        <th scope="col">Type</th>
                        <th scope="col">Salle</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for lesson in clubTools.getLessonsDetails().Lessons %}
                        <tr>
                            <td>{{ listData.getDay(lesson.getClubLessonDay()) }}</td>
                            <td>{{ lesson.getClubLessonStartingHour()|date('H:i') }}</td>
                            <td>{{ lesson.getClubLessonEndingHour()|date('H:i') }}</td>
                            <td>{{ listData.getLessonType(lesson.getClubLessonType()) }}</td>
                            <td>{{ lesson.getClubLessonDojo().getClubDojoName() }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            {% if clubTools.getLessonsDetails().AFA_teachers != null %}
                <h4>Professeur(s) & Assistant(s) AFA</h4>
                <table class="table table-sm table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Titre</th>
                        <th scope="col">Type</th>
                        <th scope="col">Prénom</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Grade</th>
                        <th scope="col">Enseignement Aïkikaï</th>
                        <th scope="col">Enseignement ADEPS</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for teacher in clubTools.getLessonsDetails().AFA_teachers %}
                        <tr>
                            <td>{{ listData.getTeacherTitle(teacher.Title) }}</td>
                            <td>{{ listData.getTeacherType(teacher.Type) }}</td>
                            <td>{{ teacher.Firstname|title }}</td>
                            <td>{{ teacher.Name|title }}</td>
                            <td>{{ listData.getGrade(teacher.Grade) }}</td>
                            <td>{% if teacher.GradeTitleAikikai != null %}{{ listData.getGradeTitle(teacher.GradeTitleAikikai) }}{% else %}Aucun{% endif %}</td>
                            <td>{% if teacher.GradeTitleAdeps != null %}{{ listData.getGradeTitle(teacher.GradeTitleAdeps) }}{% else %}Aucun{% endif %}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            {% if clubTools.getLessonsDetails().Foreign_teachers != null %}
                <h4>Professeur(s) & Assistant(s) Autre</h4>
                <table class="table table-sm table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Titre</th>
                        <th scope="col">Type</th>
                        <th scope="col">Prénom</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Grade</th>
                        <th scope="col">Enseignement Aïkikaï</th>
                        <th scope="col">Enseignement ADEPS</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for teacher in clubTools.getLessonsDetails().Foreign_teachers %}
                    <tr>
                        <td>{{ listData.getTeacherTitle(teacher.Title) }}</td>
                        <td>{{ listData.getTeacherType(teacher.Type) }}</td>
                        <td>{{ teacher.Firstname|title }}</td>
                        <td>{{ teacher.Name|title }}</td>
                        <td>{{ listData.getGrade(teacher.Grade) }}</td>
                        <td>{% if teacher.GradeTitleAikikai != null %}{{ listData.getGradeTitle(teacher.GradeTitleAikikai) }}{% else %}Aucun{% endif %}</td>
                        <td>{% if teacher.GradeTitleAdeps != null %}{{ listData.getGradeTitle(teacher.GradeTitleAdeps) }}{% else %}Aucun{% endif %}</td>
                    </tr>
                    </tbody>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
    </div>

    <div class="data-frame data-large">
        <div class="data-title collapseChar collapsed" data-toggle="collapse" data-target="#Stages">Historique des stages ({{ memberTools.getStages.total }} h)</div>
        <div id="Stages" class="data-content collapse">
            {% for grade in memberTools.getStages().history %}
                <h4>{{ listData.grade(grade.Rank) }} ({{ grade.Total }} h)</h4>
                {% if grade.Stage is defined %}
                    <table class="table table-sm table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Nom</th>
                            <th scope="col">Date</th>
                            <th scope="col">Durée (h)</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for stage in grade.Stage %}
                            <tr>
                                <td>{{ stage.Name }}</td>
                                <td>{{ stage.Date|date("d/m/Y") }}</td>
                                <td>{{ stage.Duration }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="modal" id="edit">
        <div class="modal-dialog dialog-large" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% include 'Member/all_data_update.html.twig' %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="$('#member').submit();">Enregistrer</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
    $(function () {
    $('[data-toggle="popover"]').popover()
    })
    </script>
{% endblock %}
