{% extends 'base.html.twig' %}

{% block title %}
    AFAManager
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <a href="{{ path('club_index') }}">Home</a><br />
    <h1>{{ member.getMemberFirstname() }} {{ member.getMemberName() }}</h1>
    {% if grade_kyu_history is not null %}
        <h2>Historique grade Kyu</h2>
        <table>
            <tr>
                <th>Grade</th>
                <th>Date</th>
            </tr>
            {% for grade in grade_kyu_history %}
                <tr>
                    <td>{{ list.getGrade(grade.getGradeKyuRank()) }}</td>
                    <td>{% if grade.getGradeKyuDate() != null %}{{ grade.getGradeKyuDate()|date("d/m/Y") }}{% endif %}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    {% if exam_candidate %}
        <a href="{{ path('member_exam_application', {'club_number': club.getClubNumber(), 'member_id': member.getMemberId()}) }}">Candidature examen fédéral</a>
    {% endif %}
    {% if grade_dan_history is not null %}
        <h2>Historique grade Dan</h2>
        <table>
            <tr>
                <th>Grade</th>
                <th>Date</th>
                <th>Résultat</th>
                <th>N° Diplôme</th>
                <th>Type</th>
            </tr>
            {% for grade in grade_dan_history %}
                <tr>
                    <td>{{ list.getGrade(grade.Rank) }}</td>
                    <td>{{ grade.Date|date("d/m/Y") }}</td>
                    <td>{{ list.getExamResult(grade.Result) }}</td>
                    <td>{{ grade.Certificate }}</td>
                    <td>{{ list.getExamType(grade.Type) }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}

{% block javascripts %}
{% endblock %}
