{% extends 'base.html.twig' %}

{% block title %}
    AFA-Manager
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <h1>{{ clubTools.getClub.getClubName()|title }} n°{{ clubTools.getClub.getClubId() }}</h1>
    {% if clubTools.getLessonsDetails().Dojos != null %}
    <h2>Dojo(s)</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Salle</th>
                <th scope="col">Adresse</th>
                <th scope="col">Code postal</th>
                <th scope="col">Localité</th>
                <th scope="col">Tatamis (m²)</th>
                <th scope="col">DEA</th>
            </tr>
        </thead>
        <tbody>
        {% for dojo in clubTools.getLessonsDetails().Dojos %}
            <tr>
                <td>{{ dojo.getTrainingAddressName() }}</td>
                <td>{{ dojo.getTrainingAddressStreet() }}</td>
                <td>{{ dojo.getTrainingAddressZip() }}</td>
                <td>{{ dojo.getTrainingAddressCity() }}</td>
                <td>{{ dojo.getTrainingAddressTatamis() }}</td>
                <td>{% if dojo.getTrainingAddressDEA() %}Oui{% else %}Non{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
    {% if clubTools.getLessonsDetails().Trainings != null %}
    <h2>Horaire cours</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Jour</th>
                <th scope="col">Début</th>
                <th scope="col">Fin</th>
                <th scope="col">Type</th>
                <th scope="col">Salle</th>
            </tr>
        </thead>
        <tbody>
        {% for training in clubTools.getLessonsDetails().Trainings %}
            <tr>
                <td>{{ listData.getDay(training.getTrainingDay()) }}</td>
                <td>{{ training.getTrainingStartingHour()|date('H:i') }}</td>
                <td>{{ training.getTrainingEndingHour()|date('H:i') }}</td>
                <td>{{ listData.getTrainingType(training.getTrainingType()) }}</td>
                <td>{{ training.getTrainingAddress().getTrainingAddressName() }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
    {% if clubTools.getLessonsDetails().AFA_teachers != null %}
    <h2>Professeur(s) & Assistant(s) AFA</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Titre</th>
                <th scope="col">Type</th>
                <th scope="col">Prénom</th>
                <th scope="col">Nom</th>
                <th scope="col">Grade</th>
                <th scope="col">Enseignement Aïkikaï</th>
                <th scope="col">Enseignement ADEPS</th>
            </tr>
        </thead>
        <tbody>
        {% for teacher in clubTools.getLessonsDetails().AFA_teachers %}
            <tr>
                <td>{{ listData.getTeacherTitle(teacher.Title) }}</td>
                <td>{{ listData.getTeacherType(teacher.Type) }}</td>
                <td>{{ teacher.Firstname|title }}</td>
                <td>{{ teacher.Name|title }}</td>
                <td>{{ listData.getGrade(teacher.Grade) }}</td>
                <td>{% if teacher.GradeTitleAikikai != null %}{{ listData.getGradeTitle(teacher.GradeTitleAikikai) }}{% endif %}</td>
                <td>{% if teacher.GradeTitleAdeps != null %}{{ listData.getGradeTitle(teacher.GradeTitleAdeps) }}{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
    {% if clubTools.getLessonsDetails().Foreign_teachers != null %}
    <h2>Professeur(s) & Assistant(s) Autre</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Titre</th>
                <th scope="col">Type</th>
                <th scope="col">Prénom</th>
                <th scope="col">Nom</th>
                <th scope="col">Grade</th>
                <th scope="col">Enseignement Aïkikaï</th>
                <th scope="col">Enseignement ADEPS</th>
            </tr>
        </thead>
        <tbody>
        {% for teacher in clubTools.getLessonsDetails().Foreign_teachers %}
            <tr>
                <td>{{ listData.getTeacherTitle(teacher.Title) }}</td>
                <td>{{ listData.getTeacherType(teacher.Type) }}</td>
                <td>{{ teacher.Firstname|title }}</td>
                <td>{{ teacher.Name|title }}</td>
                <td>{{ listData.getGrade(teacher.Grade) }}</td>
                <td>{% if teacher.GradeTitleAikikai != null %}{{ listData.getGradeTitle(teacher.GradeTitleAikikai) }}{% endif %}</td>
                <td>{% if teacher.GradeTitleAdeps != null %}{{ listData.getGradeTitle(teacher.GradeTitleAdeps) }}{% endif %}</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
    {% endif %}
{% endblock %}

{% block javascripts %}
{% endblock %}
