{% extends 'base.html.twig' %}

{% block title %}
    AFA-Manager
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <h1>{{ club.getClubName()|title }} n°{{ club.getClubId() }}</h1>
    {% if club_tools.getDetails().Dojos != null %}
    <h2>Dojo(s)</h2>
    <table>
        <tr>
            <th>Salle</th>
            <th>Adresse</th>
            <th>Code postal</th>
            <th>Localité</th>
            <th>Tatamis (m²)</th>
            <th>DEA</th>
        </tr>
        {% for dojo in club_tools.getDetails().Dojos %}
            <tr>
                <td>{{ dojo.getTrainingAddressName() }}</td>
                <td>{{ dojo.getTrainingAddressStreet() }}</td>
                <td>{{ dojo.getTrainingAddressZip() }}</td>
                <td>{{ dojo.getTrainingAddressCity() }}</td>
                <td>{{ dojo.getTrainingAddressTatamis() }}</td>
                <td>{% if dojo.getTrainingAddressDEA() %}Oui{% else %}Non{% endif %}</td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
    {% if club_tools.getDetails().Trainings != null %}
    <h2>Horaire cours</h2>
    <table>
        <tr>
            <th>Jour</th>
            <th>Début</th>
            <th>Fin</th>
            <th>Type</th>
            <th>Salle</th>
        </tr>
        {% for training in club_tools.getDetails().Trainings %}
            <tr>
                <td>{{ listData.getDay(training.getTrainingDay()) }}</td>
                <td>{{ training.getTrainingStartingHour()|date('H:i') }}</td>
                <td>{{ training.getTrainingEndingHour()|date('H:i') }}</td>
                <td>{{ listData.getTrainingType(training.getTrainingType()) }}</td>
                <td>{{ training.getTrainingAddress().getTrainingAddressName() }}</td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
    {% if club_tools.getDetails().AFA_teachers != null %}
    <h2>Professeur(s) & Assistant(s) AFA</h2>
    <table>
        <tr>
            <th>Titre</th>
            <th>Type</th>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Grade</th>
        </tr>
        {% for teacher in club_tools.getDetails().AFA_teachers %}
            <tr>
                <td>{{ listData.getTeacherTitle(teacher.Title) }}</td>
                <td>{{ listData.getTeacherType(teacher.Type) }}</td>
                <td>{{ teacher.Firstname }}</td>
                <td>{{ teacher.Name }}</td>
                <td>{{ listData.getGrade(teacher.Grade) }}</td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
    {% if club_tools.getDetails().Foreign_teachers != null %}
    <h2>Professeur(s) & Assistant(s) Autre</h2>
    <table>
        <tr>
            <th>Titre</th>
            <th>Type</th>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Grade</th>
            <th>Enseignement Aïkikaï</th>
            <th>Enseignement ADEPS</th>
        </tr>
        {% for teacher in club_tools.getDetails().Foreign_teachers %}
            <tr>
                <td>{{ listData.getTeacherTitle(teacher.Title) }}</td>
                <td>{{ listData.getTeacherType(teacher.Type) }}</td>
                <td>{{ teacher.Firstname }}</td>
                <td>{{ teacher.Name }}</td>
                <td>{{ listData.getGrade(teacher.Grade) }}</td>
                <td>{% if teacher.GradeTitleAikikai != null %}{{ listData.getGradeTitleAikikai(teacher.GradeTitleAikikai) }}{% endif %}</td>
                <td>{% if teacher.GradeTitleAdeps != null %}{{ listData.getGradeTitleAdeps(teacher.GradeTitleAdeps) }}{% endif %}</td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
{% endblock %}

{% block javascripts %}
{% endblock %}
