{% extends 'base.html.twig' %}

{% block title %}
    AFA-Manager
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <h1>{{ memberTools.getMember.getMemberFirstname()|title }} {{ memberTools.getMember.getMemberName()|title }}</h1>
    <h2>Données personnelles</h2>
    {{ form_start(form) }}
    {% if memberTools.getMember.getMemberModification() != null %}
    {% if memberTools.getMember.getMemberModification().getMemberModificationPhoto() != null %}
    <img alt="" src=" {{ asset('uploads/photos/'~memberTools.getMember.getMemberModification().getMemberModificationPhoto()) }}" /><br />
    {% endif %}
    {% endif %}
    {{ form_widget(form.MemberModificationPhoto) }}
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Prénom</th>
                <th scope="col">Nom</th>
                <th scope="col">Date de naissance</th>
                <th scope="col">Adresse</th>
                <th scope="col">Code postal</th>
                <th scope="col">Localité</th>
                <th scope="col">Pays</th>
                <th scope="col">Email</th>
                <th scope="col">N° téléphone</th>
                <th scope="col">Commande</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Données actuelle</th>
                <td>{{ memberTools.getMember.getMemberFirstname() }}</td>
                <td>{{ memberTools.getMember.getMemberName() }}</td>
                <td>{{ memberTools.getMember.getMemberBirthday()|date("d/m/Y") }}</td>
                <td>{{ memberTools.getMember.getMemberAddress() }}</td>
                <td>{{ memberTools.getMember.getMemberZip() }}</td>
                <td>{{ memberTools.getMember.getMemberCity() }}</td>
                <td>{{ listData.countryName(memberTools.getMember.getMemberCountry()) }}</td>
                <td>{{ memberTools.getMember.getMemberEmail() }}</td>
                <td>{{ memberTools.getMember.getMemberPhone() }}</td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">Modification</th>
                <td>{{ form_widget(form.MemberModificationFirstname) }}</td>
                <td>{{ form_widget(form.MemberModificationName) }}</td>
                <td>{{ form_widget(form.MemberModificationBirthday) }}</td>
                <td>{{ form_widget(form.MemberModificationAddress) }}</td>
                <td>{{ form_widget(form.MemberModificationZip) }}</td>
                <td>{{ form_widget(form.MemberModificationCity) }}</td>
                <td>{{ form_widget(form.MemberModificationCountry) }}</td>
                <td>{{ form_widget(form.MemberModificationEmail) }}</td>
                <td>{{ form_widget(form.MemberModificationPhone) }}</td>
                <td>{{ form_end(form) }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
{% endblock %}
