{% extends 'base.html.twig' %}

{% block title %}
    AFA-Manager
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <h1>{{ memberTools.member.getMemberFirstname()|title }} {{ memberTools.member.getMemberName()|title }}</h1>
    <h2>Données personnelles</h2>
    <img alt="" src="{{ asset('uploads/photos/'~memberTools.member.getMemberPhoto()) }}" /><br />
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Date de naissance</th>
                <th scope="col">Adresse</th>
                <th scope="col">Localité</th>
                <th scope="col">Pays</th>
                <th scope="col">Email</th>
                <th scope="col">Téléphone</th>
                <th scope="col">Commande</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ memberTools.member.getMemberBirthday()|date("d/m/Y") }}</td>
                <td>{{ memberTools.member.getMemberAddress() }}</td>
                <td>{{ memberTools.member.getMemberZip() }} {{ memberTools.member.getMemberCity() }}</td>
                <td>{{ listData.getCountryName(memberTools.member.getMemberCountry()) }}</td>
                <td>{{ memberTools.member.getMemberEmail() }}</td>
                <td>{{ memberTools.member.getMemberPhone() }}</td>
                <td><a class="btn btn-primary" href="{{ path('member_my_data_update') }}">Modifier</a></td>
            </tr>
        </tbody>
    </table>
    {% if memberTools.member.getMemberModification() != null %}
    <h2>Modification en attente de validation</h2>
    <img alt="" src=" {{ asset('uploads/photos/'~memberTools.member.getMemberModification().getMemberModificationPhoto()) }}" /><br />
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Prénom</th>
                <th scope="col">Nom</th>
                <th scope="col">Date de naissance</th>
                <th scope="col">Adresse</th>
                <th scope="col">Localité</th>
                <th scope="col">Pays</th>
                <th scope="col">Email</th>
                <th scope="col">Téléphone</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ memberTools.member.getMemberModification().getMemberModificationFirstname() }}</td>
                <td>{{ memberTools.member.getMemberModification().getMemberModificationName() }}</td>
                <td>{% if memberTools.member.getMemberModification().getMemberModificationBirthday() != null %}{{ memberTools.member.getMemberModification().getMemberModificationBirthday()|date("d/m/Y") }}{% endif %}</td>
                <td>{{ memberTools.member.getMemberModification().getMemberModificationAddress() }}</td>
                <td>{{ memberTools.member.getMemberModification().getMemberModificationZip() }} {{ memberTools.member.getMemberModification().getMemberModificationCity() }}</td>
                <td>{% if memberTools.member.getMemberModification().getMemberModificationCountry() != null %}{{ listData.getCountryName(memberTools.member.getMemberModification().getMemberModificationCountry()) }}{% endif %}</td>
                <td>{{ memberTools.member.getMemberModification().getMemberModificationEmail() }}</td>
                <td>{{ memberTools.member.getMemberModification().getMemberModificationPhone() }}</td>
            </tr>
        </tbody>
    </table>
    {% endif %}
{% endblock %}

{% block javascripts %}
{% endblock %}
