{% extends 'base.html.twig' %}

{% block title %}
    AFA-Manager
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <h1>{{ memberTools.getMember.getMemberFirstname()|title }} {{ memberTools.getMember.getMemberName()|title }}</h1>
    <h2>Début de pratique : {{ memberTools.getMember.getMemberFirstLicence().getMemberLicenceMedicalCertificate()|date("d/m/Y") }}</h2>
    <h2>Historique des grades</h2>
    {% if memberTools.getGrades().exam.candidate %}<a href="{{ path('member_my_application', {'type': 1}) }}">Candidature au prochain examen fédéral</a> {% endif %}
    <table class="table table-sm table-hover table-striped">
        <thead>
            <tr>
                <th scope="col">Grade</th>
                <th scope="col">Date</th>
                <th scope="col">N° Diplôme</th>
                <th scope="col">Résultat</th>
                <th scope="col">Type</th>
            </tr>
        </thead>
        <tbody>
        {% for grade in memberTools.getGrades().history %}
            <tr>
                <td>{{ listData.getGrade(grade.Rank) }}</td>
                <td>{{ grade.Date|date("d/m/Y") }}</td>
                <td>{{ grade.Certificate }}</td>
                <td>{{ listData.getExamResult(grade.Result) }}</td>
                <td>{{ listData.getExamType(grade.Type) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
{% endblock %}
