{% extends 'base.html.twig' %}

{% block title %}
    AFA-Manager
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <h1>{{ memberTools.getMember.getMemberFirstname()|title }} {{ memberTools.getMember.getMemberName()|title }}</h1>
    <h2>Historique Licence n° {{ memberTools.getMember.getMemberId() }}</h2>
    <table class="table table-sm table-hover table-striped">
        <thead>
            <tr>
                <th scope="col">Echéance</th>
                <th scope="col">Club</th>
            </tr>
        </thead>
        <tbody>
        {% for licence in memberTools.getLicences().history %}
            <tr>
                <td>{{ licence.getMemberLicenceDeadline()|date("d/m/Y") }}</td>
                <td>{{ licence.getMemberLicenceClub().getClubId() }} - {{ licence.getMemberLicenceClub().getClubName() }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block javascripts %}
{% endblock %}
