{% extends 'base.html.twig' %}

{% block title %}
    AFA-Manager
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <h1>{{ member.getMemberFirstname()|title }} {{ member.getMemberName()|title }}</h1>
    <h2>Historique Licence n° {{ member.getMemberId() }}</h2>
    <table>
        <tr>
            <th>Echéance</th>
            <th>Club</th>
        </tr>
        {% for licence in licence_history %}
            <tr>
                <td>{{ licence.getMemberLicenceDeadline()|date("d/m/Y") }}</td>
                <td>{{ licence.getMemberLicenceClub().getClubId() }} - {{ licence.getMemberLicenceClub().getClubName() }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}

{% block javascripts %}
{% endblock %}
