{% extends 'base.html.twig' %}

{% block title %}
    AFA-Manager
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <h1>{{ memberTools.getMember.getMemberFirstname()|title }} {{ memberTools.getMember.getMemberName()|title }}</h1>
    <h2>Historique des stages ({{ member_tools.getStages().total }} h)</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Date</th>
                <th scope="col">Durée (h)</th>
            </tr>
        </thead>
        <tbody>
        {% for stage in memberTools.getStages().history.Stage %}
        <tr>
            <td>{{ stage.Name }}</td>
            <td>{{ stage.Date|date("d/m/Y") }}</td>
            <td>{{ stage.Duration }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
{% endblock %}
