{% extends 'base.html.twig' %}

{% block title %}
    AFA-Manager
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <h1>{{ member.getMemberFirstname()|title }} {{ member.getMemberName()|title }}</h1>
    <h2>Historique des stages ({{ total }} h)</h2>
    {% for grade in history %}
    <h3>{{ listData.getGrade(grade.Rank) }} ({{ grade.Total }} h)</h3>
    <table>
        <tr>
            <th>Nom</th>
            <th>Date</th>
            <th>Durée</th>
        </tr>
        {% for stage in grade.Stage %}
        <tr>
            <td>{{ stage.Name }}</td>
            <td>{{ stage.Date|date("d/m/Y") }}</td>
            <td>{{ stage.Duration }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endfor %}
{% endblock %}

{% block javascripts %}
{% endblock %}
