{% extends 'base.html.twig' %}

{% block title %}
    AFA-Manager
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <h1>Passages de grade Dan</h1>
    <h2>Liste sessions</h2>
    <a class="btn btn-primary" href="{{ path('secretariat_exam_create') }}">Nouvelle session</a>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Ouverture inscription</th>
                <th scope="col">Fermeture inscription</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {%  for session in sessions %}
            <tr>
                <td>{{ session.getGradeSessionDate()|date("d/m/Y") }}</td>
                <td>{{ session.getGradeSessionCandidateOpen()|date("d/m/Y") }}</td>
                <td>{{ session.getGradeSessionCandidateClose()|date("d/m/Y") }}</td>
                <td><a class="btn btn-primary" href="{{ path('secretariat_exam_update', {'session': session.getGradeSessionId()}) }}">Modifier</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
{% endblock %}
