{% extends 'base.html.twig' %}

{% block title %}
    AFA-Manager
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <h1>Fiche candidat</h1>
    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th scope="col">Photo</th>
                <th scope="col">Prénom</th>
                <th scope="col">Nom</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><img alt="" src=" {{ asset('uploads/photos/'~member.getMemberPhoto()) }}" /></td>
                <td>{{ member.getMemberFirstname() }}</td>
                <td>{{ member.getMemberName() }}</td>
            </tr>
        </tbody>
    </table>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
{% endblock %}
