{% extends 'base.html.twig' %}

{% block title %}
    AFA-Manager
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <h1>Détails session</h1>
    {% if applicants != null %}
        <h2>Candidats en attente</h2>
        <table>
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Club</th>
                <th>Professeur</th>
                <th>Dernier examen</th>
                <th>Dernière évaluation</th>
                <th>Commandes</th>
            </tr>
            {% for applicant in applicants %}
                <tr>
                    <td>{{ applicant.getGradeDanMember().getMemberFirstName() }}</td>
                    <td>{{ applicant.getGradeDanMember().getMemberName() }}</td>
                    <td>{{ applicant.getGradeDanClub().getClubName() }}</td>
                    <td>{% if applicant.getGradeDanClub().getClubMainTeacher().getClubTeacherFirstname() is defined %}{{ applicant.getGradeDanClub().getClubMainTeacher().getClubTeacherFirstname() }} {{ applicant.getGradeDanClub().getClubMainTeacher().getClubTeacherName() }}{% else %}Non défini{% endif %}</td>
                    <td>{% if applicant.getGradeDanMember().getMemberLastGradeDan().getGradeDanExam() is defined %}{{ applicant.getGradeDanMember().getMemberLastGradeDan().getGradeDanExam().getGradeSessionDate()|date("d/m/Y") }}{% else %}{{ applicant.getGradeDanMember().getMemberFirstLicence().getMemberLicenceUpdate()|date("d/m/Y") }}{% endif %}</td>
                    <td>{% if applicant.getGradeDanMember().getMemberLastGradeDan().getGradeDanExam() is defined %}{{ applicant.getGradeDanMember().getMemberLastGradeDan().getGradeDanStatus() }}{% else %}Aucune{% endif %}</td>
                    <td><a href="{{ path('grade_exam_applicant_detail', {'session_id': session_id, 'member_id': applicant.getGradeDanMember().getMemberId(), 'grade_id': applicant.getGradeDanId()}) }}">Détails</a></td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    {% if candidates != null %}
        <h2>Candidats validés</h2>
        <table>
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Grade présenté</th>
                <th>Commandes</th>
            </tr>
            {% for candidate in candidates %}
                <tr>
                    <td>{{ candidate.getGradeDanMember().getMemberFirstName() }}</td>
                    <td>{{ candidate.getGradeDanMember().getMemberName() }}</td>
                    <td>{{ listData.getGrade(candidate.getGradeDanRank()) }}</td>
                    <td><a href="{{ path('grade_exam_candidate_detail', {'session_id': session_id, 'member_id': candidate.getGradeDanMember().getMemberId(), 'grade_id': candidate.getGradeDanId()}) }}">Résultats</a></td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    {% if refused != null %}
        <h2>Candidats refusé</h2>
        <table>
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Grade raté</th>
                <th>Commandes</th>
            </tr>
            {% for candidate in refused %}
                <tr>
                    <td>{{ candidate.getGradeDanMember().getMemberFirstName() }}</td>
                    <td>{{ candidate.getGradeDanMember().getMemberName() }}</td>
                    <td>{{ listData.getGrade(candidate.getGradeDanMember().getMemberLastGradeDan().getGradeDanRank()) }}</td>
                    <td><a href="{{ path('grade_exam_candidate_detail', {'session_id': session_id, 'member_id': candidate.getGradeDanMember().getMemberId(), 'grade_id': candidate.getGradeDanId()}) }}">Modifier</a></td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    {% if promoted != null %}
        <h2>Candidats promu</h2>
        <table>
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Grade obtenu</th>
                <th>Diplôme Fédéral</th>
                <th>Diplôme Aïkikaï</th>
                <th>Commandes</th>
            </tr>
            {% for candidate in promoted %}
                <tr>
                    <td>{{ candidate.FirstName }}</td>
                    <td>{{ candidate.Name }}</td>
                    <td>{{ listData.getGrade(candidate.Grade) }}</td>
                    <td>{{ candidate.Federal_Certificate }}</td>
                    <td>{{ candidate.Aikikai_Certificate }}</td>
                    <td><a href="{{ path('grade_exam_candidate_detail_update', {'session_id': session_id, 'member_id': candidate.Id, 'grade_id': candidate.Grade_Id}) }}">Modifier</a>{% if candidate.Aikikai_Certificate == null %} - <a href="{{ path('grade_exam_candidate_add_aikikai', {'session_id': session_id, 'member_id': candidate.Id, 'grade_id': candidate.Grade_Id}) }}">Ajouter Aïkikaï</a>{% else %} - <a href="{{ path('grade_exam_candidate_detail_aikikai', {'session_id': session_id, 'member_id': candidate.Id, 'grade_id': candidate.Grade_Id}) }}">Modifier Aïkikaï</a>{% endif %}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}

{% block javascripts %}
{% endblock %}
