{% extends 'base.html.twig' %}

{% block title %}
    AFA-Manager
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <h1>Passages de grade Dan</h1>
    <h2><a href="{{ path('grade_exam_create') }}">Nouvelle session</a></h2>
    {% if sessions != null %}
        <h2>Liste sessions</h2>
        <table>
            <tr>
                <th>Date</th>
                <th>Ouverture inscription</th>
                <th>Fermeture inscription</th>
                <th>Commandes</th>
            </tr>
            {%  for session in sessions %}
                <tr>
                    <td>{{ session.getGradeSessionDate()|date("d/m/Y") }}</td>
                    <td>{{ session.getGradeSessionCandidateOpen()|date("d/m/Y") }}</td>
                    <td>{{ session.getGradeSessionCandidateClose()|date("d/m/Y") }}</td>
                    <td><a href="{{ path('grade_exam_detail', {'session_id': session.getGradeSessionId()}) }}">Détails</a> - <a href="{{ path('grade_exam_update', {'session_id': session.getGradeSessionId()}) }}">Modifier</a></td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}

{% block javascripts %}
{% endblock %}
