{% extends 'base.html.twig' %}

{% block title %}
    AFA-Manager
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <h1>Candidature examen fédéral</h1>
    <h2>Détails session</h2>
    <table class="table table-sm table-hover table-striped">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Adresse</th>
                <th scope="col">Code postal</th>
                <th scope="col">Localité</th>
                <th scope="col">Ouverture inscription</th>
                <th scope="col">Fermeture inscription</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="align-middle">{{ exam.getGradeSessionDate()|date("d/m/Y") }}</td>
                <td class="align-middle">{{ exam.getGradeSessionStreet() }}</td>
                <td class="align-middle">{{ exam.getGradeSessionZip() }}</td>
                <td class="align-middle">{{ exam.getGradeSessionCity() }}</td>
                <td class="align-middle">{{ exam.getGradeSessionCandidateOpen()|date("d/m/Y") }}</td>
                <td class="align-middle">{{ exam.getGradeSessionCandidateClose()|date("d/m/Y") }}</td>
            </tr>
        </tbody>
    </table>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
{% endblock %}
