{% extends 'base.html.twig' %}

{% block title %}
    AFA-Manager
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <h1>{{ club.getClubName()|title }}</h1>
    <h2>Liste des Membres</h2>
    <table>
        <tr>
            <th>Licence n°</th>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Grade</th>
            <th>Echéance</th>
            <th>Commandes</th>
        </tr>
        {% for member in members %}
            {% if member.Id != null %}
                <tr>
                    <td>{{ member.Id }}</td>
                    <td>{{ member.FirstName|title }}</td>
                    <td>{{ member.Name|title }}</td>
                    <td>{{ listData.grade(member.Grade) }}</td>
                    <td>{{ member.Deadline|date("d/m/Y") }}</td>
                    <td><a href="{{ path('club_member_grades_detail', {'member': member.Id}) }}">Grades</a> - <a href="{{ path('club_member_licence_detail', {'member': member.Id}) }}">Licence</a> - <a href="{{ path('club_member_personal_data', {'member': member.Id}) }}">Données personnelles</a>{% if member.User == null %} - <a href="{{ path('club_member_login_create', {'member': member.Id}) }}">Créer accès</a>{% endif %}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
{% endblock %}

{% block javascripts %}
{% endblock %}
