{% extends 'base.html.twig' %}

{% block title %}
    AFA-Manager
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <h1>{{ memberTools.getMember.getMemberFirstname()|title }} {{ memberTools.getMember.getMemberName()|title }}</h1>
    <h2>Données personnelles</h2>
    <img alt="" src=" {{ asset('uploads/photos/'~memberTools.getMember.getMemberPhoto()) }}" /><br />
    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th scope="col">Adresse</th>
                <th scope="col">Localité</th>
                <th scope="col">Pays</th>
                <th scope="col">Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ memberTools.getMember.getMemberAddress() }}</td>
                <td>{{ memberTools.getMember.getMemberZip() }} {{ memberTools.getMember.getMemberCity() }}</td>
                <td>{{ listData.getCountryName(memberTools.getMember.getMemberCountry()) }}</td>
                <td>{{ memberTools.getMember.getMemberEmail() }}</td>
            </tr>
        </tbody>
    </table>
    {% if memberTools.getMember.getMemberModification() != null %}
    <h2>Modification en attente de validation</h2>
    <img alt="" src=" {{ asset('uploads/photos/'~memberTools.getMember.getMemberModification().getMemberModificationPhoto()) }}" /><br />
        <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th scope="col">Adresse</th>
                <th scope="col">Localité</th>
                <th scope="col">Pays</th>
                <th scope="col">Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ memberTools.getMember.getMemberModification().getMemberModificationAddress() }}</td>
                <td>{{ memberTools.getMember.getMemberModification().getMemberModificationZip() }} {{ memberTools.getMember.getMemberModification().getMemberModificationCity() }}</td>
                <td>{% if memberTools.getMember.getMemberModification().getMemberModificationCountry() != null %}{{ listData.getCountryName(memberTools.getMember.getMemberModification().getMemberModificationCountry()) }}{% endif %}</td>
                <td>{{ memberTools.getMember.getMemberModification().getMemberModificationEmail() }}</td>
            </tr>
        </tbody>
    </table>
    {% endif %}
{% endblock %}

{% block javascripts %}
{% endblock %}
