{% extends 'base.html.twig' %}

{% block title %}
    AFA-Manager
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    {% if results != null %}
    <h2>Résultats de la recherche</h2>
    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Licence n°</th>
                <th scope="col">Prénom</th>
                <th scope="col">Nom</th>
                <th scope="col">Club</th>
                <th scope="col">Echéance</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
        {% for member in results %}
            <tr>
                <td class="align-middle">{{ loop.index }}</td>
                <td class="align-middle">{{ member.Id }}</td>
                <td class="align-middle">{{ member.FirstName|title }}</td>
                <td class="align-middle">{{ member.Name|title }}</td>
                <td class="align-middle">{{ member.ClubId }} - {{ member.Club|title }}</td>
                <td class="align-middle">{{ member.Deadline|date("d/m/Y") }}</td>
                <td class="align-middle"><a class="btn btn-primary" href="{{ path('accounting_member_contact_data', {'member': member.Id}) }}">Données de Contact</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}

{% endblock %}

{% block javascripts %}
{% endblock %}
