{% extends 'base.html.twig' %}

{% block title %}
    AFA-Manager
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <h1>{{ club.getClubName()|title }}</h1>
    <h2>Siège</h2>
    <table>
        <tr>
            <th>Nom</th>
            <th>Adresse</th>
            <th>Code postal</th>
            <th>Localité</th>
        </tr>
        <tr>
            <td>{{ form_widget(form.ClubName) }}</td>
            <td>{{ form_widget(form.ClubAddress) }}</td>
            <td>{{ form_widget(form.ClubZip) }}</td>
            <td>{{ form_widget(form.ClubCity) }}</td>
        </tr>
    </table>
    <h2>Détails association</h2>
    <table>
        <tr>
            <th>Type Association</th>
            <th>N° entreprise</th>
            <th>N° de compte (IBAN)</th>
            <th>Site internet</th>
            <th>Email publique</th>
        </tr>
        <tr>
            <td>{{ form_widget(form.ClubType) }}</td>
            <td>{{ form_widget(form.ClubBceNumber) }}</td>
            <td>{{ form_widget(form.ClubIban) }}</td>
            <td>{{ form_widget(form.ClubUrl) }}</td>
            <td>{{ form_widget(form.ClubEmailPublic) }}</td>
        </tr>
    </table>
    <h2>Correspondant</h2>
    <table>
        <tr>
            <th>Nom</th>
            <th>Email</th>
            <th>N° de téléphone</th>
            <th>Adresse</th>
            <th>Code postal</th>
            <th>Localité</th>
        </tr>
        <tr>
            <td>{{ form_widget(form.ClubNameContact) }}</td>
            <td>{{ form_widget(form.ClubEmailContact) }}</td>
            <td>{{ form_widget(form.ClubPhoneContact) }}</td>
            <td>{{ form_widget(form.ClubAddressContact) }}</td>
            <td>{{ form_widget(form.ClubZipContact) }}</td>
            <td>{{ form_widget(form.ClubCityContact) }}</td>
        </tr>
    </table>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
{% endblock %}
