{% extends 'base.html.twig' %}

{% block title %}
    AFA-Manager
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <a href="{{ path('secretariat_supporter_index') }}">Sympathisants</a><br />
    <a href="{{ path('secretariat_club_list') }}">Les Clubs</a><br />
    <a href="{{ path('secretariat_exam_index') }}">Examens Fédéraux</a><br />
    <a href="{{ path('secretariat_training_index') }}">Stages</a><br />
    <a href="{{ path('secretariat_member_modification_validation_index') }}">Modifications en attente</a><br />
    <a href="{{ path('secretariat_commission_index') }}">Commissions</a><br />
{% endblock %}

{% block javascripts %}
{% endblock %}
