{% extends 'base.html.twig' %}

{% block title %}
    AFA-Manager
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <a href="{{ path('secretariat-supporterIndex') }}">Sympathisants</a><br />
    <a href="{{ path('secretariat-clubList') }}">Les Clubs</a><br />
    <a href="{{ path('secretariat-examIndex') }}">Examens Fédéraux</a><br />
    <a href="{{ path('secretariat-trainingIndex') }}">Stages</a><br />
    <a href="{{ path('secretariat-memberModificationValidationIndex') }}">Modifications en attente</a><br />
    <a href="{{ path('secretariat-commissionIndex') }}">Commissions</a><br />
{% endblock %}

{% block javascripts %}
{% endblock %}
