{% extends 'base.html.twig' %}

{% block title %}
    AFA-Manager
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <h1>{{ club.getClubName()|title }}</h1>
    <h2>Membres inactifs</h2>
    <table>
        <tr>
            <th>#</th>
            <th>Licence n°</th>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Echéance</th>
            <th>Commande</th>
        </tr>
        {% for member in members %}
            {% if member.Id != null %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ member.Id }}</td>
                    <td>{{ member.FirstName|title }}</td>
                    <td>{{ member.Name|title }}</td>
                    <td>{{ member.Deadline|date("d/m/Y") }}</td>
                    <td><a href="{{ path('member_licence_renew_update', {'club': club.getClubId(), 'member': member.Id, 'renew': member.Licence}) }}">Modifier</a> - <a href="{{ path('member_licence_renew', {'club': club.getClubId(), 'member': member.Id}) }}">Renouveller</a></td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
{% endblock %}

{% block javascripts %}
{% endblock %}
