{% extends 'base.html.twig' %}

{% block title %}
    AFA-Manager
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <h1>Liste des sympathisants</h1>
    <h2><a href="{{ path('secretariat_supporter_create') }}">Ajouter</a></h2>
    <table>
        <tr>
            <th>Nom</th>
            <th>Adresse</th>
            <th>Code postal</th>
            <th>Localité</th>
            <th>Commandes</th>
        </tr>
        {% for supporter in supporters %}
            <tr>
                <td>{{ supporter.getSecretariatSupporterName() }}</td>
                <td>{{ supporter.getSecretariatSupporterAddress() }}</td>
                <td>{{ supporter.getSecretariatSupporterZip() }}</td>
                <td>{{ supporter.getSecretariatSupporterCity() }}</td>
                <td><a href="{{ path('secretariat_supporter_update', {'supporter_id': supporter.getSecretariatSupporterId()}) }}">Modifier</a> - <a href="{{ path('secretariat_supporter_delete', {'supporter_id': supporter.getSecretariatSupporterId()}) }}">Supprimer</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block javascripts %}
{% endblock %}
