{% extends 'base.html.twig' %}

{% block title %}
    AFA-Manager
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <h1>Liste des modifications en attente</h1>
    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th scope="col">Prénom</th>
                <th scope="col">Nom</th>
                <th scope="col">Date de naissance</th>
                <th scope="col">Adresse</th>
                <th scope="col">Code postal</th>
                <th scope="col">Localité</th>
                <th scope="col">Pays</th>
                <th scope="col">Email</th>
                <th scope="col">Téléphone</th>
                <th scope="col">Aïkikaï Id</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
        {% for modification in modifications %}
            <tr>
                <td class="align-middle">{{ modification.FirstName|title }} ({{ modification.NewFirstName }})</td>
                <td class="align-middle">{{ modification.Name|title }} ({{ modification.NewName }})</td>
                <td class="align-middle">{% if modification.Birthday != null %}{{ modification.Birthday|date("d/m/Y") }}{% endif %}</td>
                <td class="align-middle">{{ modification.Address }}</td>
                <td class="align-middle">{{ modification.Zip }}</td>
                <td class="align-middle">{{ modification.City|title }}</td>
                <td class="align-middle">{{ modification.Country }}</td>
                <td class="align-middle">{{ modification.Email }}</td>
                <td class="align-middle">{{ modification.Phone }}</td>
                <td class="align-middle">{{ modification.AikikaiId }}</td>
                <td class="align-middle"><a class="btn btn-primary" href="{{ path('secretariat_member_modification_validation_validate', {'member': modification.Member}) }}">Valider</a><a class="btn btn-primary" href="{{ path('secretariat_member_modification_validation_cancel', {'member': modification.Member}) }}">Refuser</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
{% endblock %}
