{% extends 'base.html.twig' %}

{% block title %}
    AFA-Manager
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <h1>Liste des modifications en attente</h1>
    {% for modification in modifications %}
    <h2>{{ modification.FirstName|title }} {{ modification.Name|title }}<a class="btn btn-primary" href="{{ path('secretariat-memberModificationValidationValidate', {'member': modification.Member}) }}">Valider</a><a class="btn btn-primary" href="{{ path('secretariat-memberModificationValidationCancel', {'member': modification.Member}) }}">Refuser</a></h2>
    <table class="table table-sm table-hover unselectable">
        <thead>
            <tr>
                <th scope="col">Photo</th>
                <th scope="col">Prénom</th>
                <th scope="col">Nom</th>
                <th scope="col">Date de naissance</th>
                <th scope="col">Adresse</th>
                <th scope="col">Code postal</th>
                <th scope="col">Localité</th>
                <th scope="col">Pays</th>
                <th scope="col">Email</th>
                <th scope="col">Téléphone</th>
                <th scope="col">Aïkikaï Id</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="align-middle"><img alt="" src="{{ asset('uploads/photos/'~modification.Photo) }}" /></td>
                <td class="align-middle">{{ modification.NewFirstName|title }}</td>
                <td class="align-middle">{{ modification.NewName|title }}</td>
                <td class="align-middle">{% if modification.Birthday != null %}{{ modification.Birthday|date("d/m/Y") }}{% endif %}</td>
                <td class="align-middle">{{ modification.Address }}</td>
                <td class="align-middle">{{ modification.Zip }}</td>
                <td class="align-middle">{{ modification.City|title }}</td>
                <td class="align-middle">{{ modification.Country }}</td>
                <td class="align-middle">{{ modification.Email }}</td>
                <td class="align-middle">{{ modification.Phone }}</td>
                <td class="align-middle">{{ modification.AikikaiId }}</td>
            </tr>
        </tbody>
    </table>
    {% endfor %}
{% endblock %}

{% block javascripts %}
{% endblock %}
