{% extends 'base.html.twig' %}

{% block title %}
    AFA-Manager
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <h1>Liste des gestionnaire de club</h1>
    <table class="table table-sm table-hover unselectable">
        <thead>
            <tr>
                <th scope="col">Login</th>
                <th scope="col">Prénom</th>
                <th scope="col">Nom</th>
                <th scope="col">N° de licence</th>
                <th scope="col">Dernière connexion</th>
                <th scope="col">Status accès</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
        {% for manager in access_list %}
            <tr>
                <td class="align-middle">{{ manager.Login }}</td>
                <td class="align-middle">{% if manager.LicenceId != null %}{{ manager.MemberFirstname|title }}{% else %}{{ manager.UserFirstname }}{% endif %}</td>
                <td class="align-middle">{% if manager.LicenceId != null %}{{ manager.MemberName|title }}{% else %}{{ manager.UserRealName|title }}{% endif %}</td>
                <td class="align-middle">{% if manager.LicenceId != null %}{{ manager.LicenceId }}{% else %}Aucun{% endif %}</td>
                <td class="align-middle">{% if manager.Activity != null %}{{ manager.Activity|date("d/m/Y") }}{% else %}Aucune{% endif %}</td>
                <td class="align-middle">{% if manager.Status == 0 or manager.Status > 4 %}Verrouillé{% else %}Actif{% endif %}</td>
                <td class="align-middle">
                    <div class="btn-group" role="group" aria-label="Commandes">
                        <button type="button" class="btn btn-primary">Commandes</button>
                        <div class="btn-group" role="group">
                            <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" style="">
                                {% if manager.Status == 0 or manager.Status > 4 %}<a class="dropdown-item" href="{{ path('secretariat-accessReactivate', {'user': manager.UserId}) }}">Réactiver</a>{% endif %}
                                <a class="dropdown-item" href="{{ path('secretariat-accessPasswordModify', {'user': manager.UserId}) }}">Modifier Mot de Passe</a>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
{% endblock %}
