<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}AFAManager{% endblock %}</title>

        <link rel="icon" type="image/svg" href="{{ asset('images/favicon.svg') }}" />

        <link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/solar/bootstrap.min.css">

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

        <script src="{{ asset('js/jquery.min.js') }}"></script>
        <script src="{{ asset('js/jquery.migrate.min.js') }}"></script>

        {% block stylesheets %}{% endblock %}
    </head>
    {% if app.request.pathinfo == '/login' %}
    <body class="login">
    {% else %}
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="{{ path('common_index') }}">AFA-Manager</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    {% if is_granted('ROLE_USER') %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false">Tutoriels</a>
                            <div class="dropdown-menu" style="">
                                {% if is_granted('ROLE_CLUB') %}
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false">Club</a>
                                <div class="dropdown-menu" style="">
                                    <a class="dropdown-item" href="{{ asset('tutoriels/club-ajout-salle.mov') }}">Ajouter une salle</a>
                                    <a class="dropdown-item" href="{{ asset('tutoriels/club-ajout-horaire.mov') }}">Ajouter un horaire</a>
                                    <a class="dropdown-item" href="{{ asset('tutoriels/club-ajout-professeur.mov') }}">Ajouter un professeur</a>
                                </div>
                                {% endif %}
                            </div>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_MEMBER') %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="{{ path('member_index') }}" role="button" aria-haspopup="true" aria-expanded="false">Membre</a>
                             <div class="dropdown-menu" style="">
                                <a class="dropdown-item" href="{{ path('member_my_data') }}">Mes Données</a>
                                <a class="dropdown-item" href="{{ path('member_my_grades') }}">Mes Grades</a>
                                <a class="dropdown-item" href="{{ path('member_my_stages') }}">Mes Stages</a>
                                <a class="dropdown-item" href="{{ path('member_my_licence') }}">Ma Licence</a>
                                <a class="dropdown-item" href="{{ path('member_my_club') }}">Mon Club</a>
                            </div>
                    </li>
                    {% endif %}
                    {% if is_granted('ROLE_CLUB') %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown"href="{{ path('club_index') }}">Club</a>
                            <div class="dropdown-menu" style="">
                                 <a class="dropdown-item" href="{{ path('club_dojo_index') }}">Dojo(s), horaires & professeurs</a>
                                 <a class="dropdown-item" href="{{ path('club_members_list') }}">Liste des membres</a>
                                 <a class="dropdown-item" href="{{ path('club_association_details') }}">Détails Association</a>
                                 <a class="dropdown-item" href="{{ path('club_manager_index') }}">Liste des gestionnaires</a>
                            </div>
                    </li>
                    {% endif %}
                    {% if is_granted('ROLE_CFG') %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="{{ path('grade_index') }}">CFG</a>
                            <div class="dropdown-menu" style="">
                                <a href="{{ path('grade_exam_index') }}">Examens Fédéraux</a><br />
                            </div>
                    </li>
                    {% endif %}
                    {% if is_granted('ROLE_STAGES') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('training_index') }}">Stages</a>
                    </li>
                    {% endif %}
                    {% if is_granted('ROLE_SECRETARIAT') %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown"href="{{ path('secretariat_index') }}">Secrétariat</a>
                            <div class="dropdown-menu" style="">
                                <a class="dropdown-item" href="{{ path('secretariat_supporter_index') }}">Sympathisants</a><br />
                                <a class="dropdown-item" href="{{ path('secretariat_search_members') }}" target="_blank">Recherche membres</a><br />
                                <a class="dropdown-item" href="{{ path('secretariat_club_list') }}">Les Clubs</a><br />
                                <a class="dropdown-item" href="{{ path('secretariat_exam_index') }}">Examens Fédéraux</a><br />
                                <a class="dropdown-item" href="{{ path('secretariat_training_index') }}">Stages</a><br />
                                <a class="dropdown-item" href="{{ path('secretariat_member_modification_validation_index') }}">Modifications en attente</a><br />
                                <a class="dropdown-item" href="{{ path('secretariat_commission_index') }}">Commissions</a><br />
                                <a class="dropdown-item" href="{{ path('secretariat_print_stamp') }}" target="_blank">Impression timbres</a><br />
                                <a class="dropdown-item" href="{{ path('secretariat_print_card') }}" target="_blank">Impression carte</a><br />
                            </div>
                    </li>
                    {% endif %}
                    {% if is_granted('ROLE_USER') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('my_access') }}">Mon Accès</a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_USER') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    {% endif %}

    {% block body %}{% endblock %}

    {% block javascripts %}{% endblock %}
    </body>
</html>
