<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}AFAManager{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/solar/bootstrap.min.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="{{ path('common_index') }}">AFA-Manager</a>

            <div class="navbar" id="navbarColor02">
                <ul class="navbar-nav mr-auto">
                    {% if is_granted('ROLE_MEMBER') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('member_index') }}">Membre</a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_CLUB') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('club_index') }}">Club</a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_CFG') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('grade_index') }}">CFG</a>
                    </li>
                    {% endif %}
                    {% if is_granted('ROLE_STAGES') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('training_index') }}">Stages</a>
                    </li>
                    {% endif %}
                    {% if is_granted('ROLE_SECRETARIAT') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('secretariat_index') }}">Secrétariat</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <div style="text-align: center"><a href="javascript:history.back()">Page précédente</a></div>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
