<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{% block title %}AFA-Manager{% endblock %}</title>

        <link rel="icon" type="image/svg" href="{{ asset('images/favicon.svg') }}" />

        {% if app.user != null %}
            {% if app.user.login == "Carine" %}
                <link rel="stylesheet" type="text/css" href="{{ asset('css/test/bootstrap.min.css') }}" />
            {% else %}
                <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}" />
            {% endif %}
        {% else %}
            <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}" />
        {% endif %}

        <style>
            @media print
            {
                body
                {
                    display: none;
                }
            }

            .unselectable
            {
                -webkit-user-select: none;
                -webkit-touch-callout: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }
        </style>

        {% block stylesheets %}{% endblock %}
    </head>
    <body class="container">
        {% if app.request.pathinfo != '/login' %}
            <nav class="navbar navbar-expand-lg navbar-dark {% if app.user != null %}{% if app.user.login == "Carine" %}bg-dark{% else %}bg-primary{% endif %}{% else %}bg-primary{% endif %}">
                <a class="navbar-brand" href="{{ path('common-index') }}">AFA-Manager</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav mr-auto">
                        {% if is_granted('ROLE_MEMBER') %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Membre</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{{ path('member-myData') }}">Mes Données</a>
                                    <a class="dropdown-item" href="{{ path('member-myGrades') }}">Mes Grades</a>
                                    <a class="dropdown-item" href="{{ path('member-myStages') }}">Mes Stages</a>
                                    <a class="dropdown-item" href="{{ path('member-myTitles') }}">Mes Titres</a>
                                    <a class="dropdown-item" href="{{ path('member-myLicence') }}">Ma Licence</a>
                                    <a class="dropdown-item" href="{{ path('member-myClub') }}">Mon Club</a>
                                </div>
                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_CLUB') %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Club</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{{ path('club-dojoIndex') }}">Dojo(s), horaires & professeurs</a>
                                    <a class="dropdown-item" href="{{ path('club-membersList') }}">Liste des membres</a>
                                    <a class="dropdown-item" href="{{ path('club-paidLicenceList') }}">Liste des paiements reçu</a>
                                    <a class="dropdown-item" href="{{ path('club-associationDetails') }}">Détails Association</a>
                                    <a class="dropdown-item" href="{{ path('club-managerIndex') }}">Liste des gestionnaires</a>
                                    <a class="dropdown-item" href="{{ path('club-searchMembers') }}" target="_blank">Recherche membres</a>
                                </div>
                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_BANK') %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Comptabilité</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{{ path('accounting-searchMembers') }}" target="_blank">Recherche membres</a>
                                    <a class="dropdown-item" href="{{ path('accounting-paymentLicenceValidation') }}">Paiement Licence</a>
                                </div>
                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_CP') %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Enseignement</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{{ path('teaching-statisticsIndex') }}">Statistiques</a>
                                </div>
                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_CA') %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Administration</a>
                                <div class="dropdown-menu">
                                    {% if is_granted('ROLE_COMMUNICATION_LEADER') %}<a class="dropdown-item" href="{{ path('administration-clubMailsList') }}">Mailing List</a>{% endif %}
                                    <a class="dropdown-item" href="{{ path('administration-statisticsIndex') }}">Statistiques</a>
                                    <a class="dropdown-item" href="{{ path('administration-creationClubList') }}">Liste Création Club</a>
                                    <a class="dropdown-item" href="{{ path('administration-dojoChoStartPractice') }}">Liste Année de pratique Dojo-Cho</a>
                                </div>
                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_CT') %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Grades</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{{ path('grade-examIndex') }}">Examens Fédéraux</a>
                                </div>
                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_STAGES') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('training-index') }}">Stages</a>
                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_SECRETARIAT') %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Secrétariat</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{{ path('secretariat-supporterIndex') }}">Sympathisants</a>
                                    <a class="dropdown-item" href="{{ path('secretariat-searchMembers') }}" target="_blank">Recherche membres</a>
                                    <a class="dropdown-item" href="{{ path('secretariat-clubList') }}">Les Clubs</a>
                                    <a class="dropdown-item" href="{{ path('secretariat-stampForPrinting') }}">Liste timbre à imprimer</a>
                                    <a class="dropdown-item" href="{{ path('secretariat-export') }}">Export</a>
                                    <a class="dropdown-item" href="{{ path('secretariat-clubAddressList') }}">Liste Adresses des Clubs</a>
                                    <a class="dropdown-item" href="{{ path('secretariat-accessListIndex') }}">Liste accès interface</a>
                                    <a class="dropdown-item" href="{{ path('secretariat-examIndex') }}">Examens Fédéraux</a>
                                    <a class="dropdown-item" href="{{ path('secretariat-trainingIndex') }}">Stages</a>
                                    <a class="dropdown-item" href="{{ path('secretariat-memberModificationValidationIndex') }}">Modifications en attente</a>
                                    <a class="dropdown-item" href="{{ path('secretariat-dojoModificationList') }}">Modifications dojo</a>
                                    <a class="dropdown-item" href="{{ path('secretariat-commissionIndex') }}">Commissions</a>
                                    <a class="dropdown-item" href="{{ path('secretariat-printCard') }}" target="_blank">Impression carte</a>
                                    <a class="dropdown-item" href="{{ path('secretariat-memberListCleanup') }}">Nettoyage ancien membres</a>
                                </div>
                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_USER') %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Email</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{{ path('common-createMail') }}">Envoyer email</a>
                                </div>
                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_USER') %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Mon Compte</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{{ path('common-changeLogin') }}">Modification Login</a>
                                    <a class="dropdown-item" href="{{ path('common-changePassword') }}">Modification Mot de Passe</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a>
                                </div>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        {% endif %}

        <main class="container">
            {% block body %}{% endblock %}
        </main>

        <footer class="container">
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
            {% block javascripts %}{% endblock %}
        </footer>
    </body>
</html>
