{% extends 'base.html.twig' %}

{% block title %}
    AFAManager
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <a href="{{ path('club_index') }}">Home</a>
    <h1>{{ club.getClubName() }}</h1>
    <h2>Membres actifs</h2>
    <h2><a href="{{ path('member_create', {'club_number': club.getClubNumber()}) }}">Ajouter</a></h2>
    <table>
        <tr>
            <th>#</th>
            <th>Licence n°</th>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Echéance</th>
            <th>Commande</th>
        </tr>
        {% for member in members %}
            {% if member.Id != null %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ member.Id }}</td>
                    <td>{{ member.FirstName|title }}</td>
                    <td>{{ member.Name|title }}</td>
                    <td>{{ member.Deadline|date("d/m/Y") }}</td>
                    <td><a href="{{ path('member_detail_licence', {'club_number': club.getClubNumber(), 'member_id': member.Id}) }}">Licence</a> - <a href="{{ path('member_detail_grade', {'club_number': club.getClubNumber(), 'member_id': member.Id}) }}">Grades</a> - <a href="{{ path('member_detail_title', {'club_number': club.getClubNumber(), 'member_id': member.Id}) }}">Titres</a> - <a href="{{ path('member_detail_personnal', {'club_number': club.getClubNumber(), 'member_id': member.Id}) }}">Données personnelles</a></td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
{% endblock %}

{% block javascripts %}
{% endblock %}
