{% extends 'base.html.twig' %}

{% block title %}
    AFA-Manager
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <h1>{{ club.getClubName()|title }} n°{{ club.getClubId() }}</h1>
    <h2>Dojo(s)</h2>
    <table>
        <tr>
            <th>Salle</th>
            <th>Adresse</th>
            <th>Code postal</th>
            <th>Localité</th>
            <th>Tatamis (m²)</th>
            <th>DEA</th>
            <th>Formation DEA</th>
            <th>Commandes</th>
        </tr>
        {% for address in addresses %}
            <tr>
                <td>{{ address.getTrainingAddressName() }}</td>
                <td>{{ address.getTrainingAddressStreet() }}</td>
                <td>{{ address.getTrainingAddressZip() }}</td>
                <td>{{ address.getTrainingAddressCity() }}</td>
                <td>{{ address.getTrainingAddressTatamis() }}</td>
                <td>{% if address.getTrainingAddressDEA() %}Oui{% else %}Non{% endif %}</td>
                <td>{% if address.getTrainingAddressDEA() %}{{ address.getTrainingAddressDEAFormation()|date("d/m/Y") }}{% else %}N/A{% endif %}</td>
                <td><a href="{{ path('club_dojo_update', {'address': address.getTrainingAddressId()}) }}">Modifier</a> - <a href="{{ path('club_dojo_delete', {'address': address.getTrainingAddressId()}) }}">Supprimer</a></td>
            </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><a href="{{ path('club_dojo_add') }}">Ajouter</a></td>
        </tr>
    </table>
    <h2>Horaire cours</h2>
    <table>
        <tr>
            <th>Jour</th>
            <th>Début</th>
            <th>Fin</th>
            <th>Type</th>
            <th>Salle</th>
            <th>Commandes</th>
        </tr>
        {% for training in trainings %}
            <tr>
                <td>{{ listData.getDay(training.getTrainingDay()) }}</td>
                <td>{{ training.getTrainingStartingHour()|date('H:i') }}</td>
                <td>{{ training.getTrainingEndingHour()|date('H:i') }}</td>
                <td>{{ listData.getTrainingType(training.getTrainingType()) }}</td>
                <td>{{ training.getTrainingAddress().getTrainingAddressName() }}</td>
                <td><a href="{{ path('club_training_update', {'training': training.getTrainingId()}) }}">Modifier</a> - <a href="{{ path('club_training_delete', {'training': training.getTrainingId()}) }}">Supprimer</a></td>
            </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><a href="{{ path('club_training_add') }}">Ajouter</a></td>
        </tr>
    </table>
    <h2>Professeur(s) & Assistant(s) AFA</h2>
    <table>
        <tr>
            <th>Titre</th>
            <th>Type</th>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Grade</th>
            <th>Commandes</th>
        </tr>
        {% for teacher in afa_teachers %}
            <tr>
                <td>{{ listData.getTeacherTitle(teacher.Title) }}</td>
                <td>{{ listData.getTeacherType(teacher.Type) }}</td>
                <td>{{ teacher.Firstname }}</td>
                <td>{{ teacher.Name }}</td>
                <td>{{ listData.getGrade(teacher.Dan) }}</td>
                <td><a href="{{ path('club_teacher_afa_update', {'teacher': teacher.Id}) }}">Modifier</a> - <a href="{{ path('club_teacher_afa_delete', {'teacher': teacher.Id}) }}">Supprimer</a></td>
            </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><a href="{{ path('club_teacher_afa_add') }}">Ajouter</a></td>
        </tr>
    </table>
    <h2>Professeur(s) & Assistant(s) Autre</h2>
    <table>
        <tr>
            <th>Titre</th>
            <th>Type</th>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Grade</th>
            <th>Enseignement Aïkikaï</th>
            <th>Enseignement ADEPS</th>
            <th>Commandes</th>
        </tr>
        {% for teacher in foreign_teachers %}
            <tr>
                <td>{{ listData.getTeacherTitle(teacher.Title) }}</td>
                <td>{{ listData.getTeacherType(teacher.Type) }}</td>
                <td>{{ teacher.Firstname }}</td>
                <td>{{ teacher.Name }}</td>
                <td>{{ listData.getGrade(teacher.Grade) }}</td>
                <td>{% if teacher.GradeTitleAikikai != null %}{{ listData.getGradeTitleAikikai(teacher.GradeTitleAikikai) }}{% endif %}</td>
                <td>{% if teacher.GradeTitleAdeps != null %}{{ listData.getGradeTitleAdeps(teacher.GradeTitleAdeps) }}{% endif %}</td>
                <td><a href="{{ path('club_teacher_foreign_update', {'teacher': teacher.Id}) }}">Modifier</a> - <a href="{{ path('club_teacher_foreign_delete', {'teacher': teacher.Id}) }}">Supprimer</a></td>
            </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><a href="{{ path('club_teacher_foreign_add') }}">Ajouter</a></td>
        </tr>
    </table>
{% endblock %}

{% block javascripts %}
{% endblock %}
