{% extends 'base.html.twig' %}

{% block title %}
    AFA-Manager
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <h1>{{ club.getClubName()|title }}</h1>
    <h2>Liste des Membres</h2>
    <a class="btn btn-primary" href="{{ path('secretariat_member_create', {'club': club.getClubId()}) }}">Ajouter</a>
    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Licence n°</th>
                <th scope="col">Prénom</th>
                <th scope="col">Nom</th>
                <th scope="col">Echéance</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
        {% for member in members %}
        {% if member.Id != null %}
            <tr>
                <td class="align-middle">{{ loop.index }}</td>
                <td class="align-middle">{{ member.Id }}</td>
                <td class="align-middle">{{ member.FirstName|title }}</td>
                <td class="align-middle">{{ member.Name|title }}</td>
                <td class="align-middle">{{ member.Deadline|date("d/m/Y") }}</td>
                <td class="align-middle">
                    <div class="btn-group" role="group" aria-label="Commandes">
                        <button type="button" class="btn btn-primary">Commandes</button>
                        <div class="btn-group" role="group">
                            <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" style="">
                                <a class="dropdown-item" href="{{ path('secretariat_member_licence_detail', {'club': club.getClubId(), 'member': member.Id}) }}">Licence</a>
                                <a class="dropdown-item" href="{{ path('secretariat_member_personal_detail', {'club': club.getClubId(), 'member': member.Id}) }}">Données personnelles</a>
                                {% if member.Deadline < limit %}<a class="dropdown-item" href="{{ path('secretariat_member_form_renew', {'club': club.getClubId(), 'member': member.Id}) }}">Formulaire renouvellement</a>{% endif %}
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
{% endblock %}
