{% extends 'base.html.twig' %}

{% block title %}
    AFA-Manager
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <h1>{{ training.getTrainingName()|title }}</h1>
    <table class="table table-sm table-hover table-striped">
        <thead>
            <tr>
                <th scope="col">Total Cash</th>
                <th scope="col">Total Carte</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ total_cash }}</td>
                <td>{{ total_card }}</td>
            </tr>
    </table>
    <h2>Pratiquants AFA</h2>
    <table class="table table-sm table-hover table-striped">
        <thead>
            <tr>
                <th scope="col" colspan="3">N° licence</th>
                <th scope="col">Cours</th>
                <th scope="col">Paiement</th>
                <th scope="col">Mode</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="align-middle" colspan="3">{{ form_widget(form.TrainingAttendanceId) }}</td>
                <td class="align-middle">{{ form_widget(form.TrainingAttendanceSession) }}</td>
                <td class="align-middle">{{ form_widget(form.TrainingAttendancePayment) }}</td>
                <td class="align-middle" width="60">{{ form_widget(form.TrainingAttendancePaymentType) }}</td>
                <td class="align-middle">{{ form_widget(form.Submit) }}</td>
            </tr>
        </tbody>
        <thead>
            <tr>
                <th scope="col">Prénom</th>
                <th scope="col">Nom</th>
                <th scope="col">Licence</th>
                <th scope="col">Cours</th>
                <th scope="col">Paiement</th>
                <th scope="col">Mode</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
        {% for practitioner in practitioners %}
            <tr>
                <td>{{ practitioner.member_firstname|title }}</td>
                <td>{{ practitioner.member_name|title }}</td>
                <td>{{ practitioner.member_id }} {% if practitioner.member_licence_deadline > today %}<img alt="" src=" {{ asset('images/pass.png') }}" />{% else %}<img alt="" src=" {{ asset('images/fail.png') }}" />{% endif %}</td>
                <td>
                    {% for session in practitioners_sessions %}
                        {% if session.training_attendance_unique == practitioner.training_attendance_unique %}
                            {% if session.training_session_starting_hour != null %}
                                {{ listData.getDay(session.training_session_date|date('N')) }}
                                {% if session.training_session_starting_hour|date('H') < 12 %}
                                    Matin
                                {% else %}
                                    Après-midi
                                {% endif %}
                            {% else %}
                                {{ session.training_session_duration/60 }} h
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </td>
                <td>{{ practitioner.training_attendance_payment }} €</td>
                <td>{{ listData.getPaymentType(practitioner.training_attendance_payment_type) }}</td>
                <td></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
{% endblock %}
