{% extends 'base.html.twig' %}

{% block title %}
    AFA-Manager
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <h1>{{ training.getTrainingName()|title }}</h1>
    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th scope="col">Total Cash</th>
                <th scope="col">Total Carte</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ total_cash }}</td>
                <td>{{ total_card }}</td>
            </tr>
        </tbody>
    </table>
    <h2>Pratiquants non AFA</h2>
    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Sexe</th>
                <th scope="col">Pays</th>
                <th scope="col">Cours</th>
                <th scope="col">Paiement</th>
                <th scope="col">Mode</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ form_widget(form.TrainingAttendanceName) }}</td>
                <td width="90">{{ form_widget(form.TrainingAttendanceSex) }}</td>
                <td>{{ form_widget(form.TrainingAttendanceCountry) }}</td>
                <td>{{ form_widget(form.TrainingAttendanceSession) }}</td>
                <td>{{ form_widget(form.TrainingAttendancePayment) }}</td>
                <td width="60">{{ form_widget(form.TrainingAttendancePaymentType) }}</td>
                <td>{{ form_widget(form.Submit) }}</td>
            </tr>
        </tbody>
        <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Sexe</th>
                <th scope="col">Pays</th>
                <th scope="col">Cours</th>
                <th scope="col">Paiement</th>
                <th scope="col">Mode</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
        {% for practitioner in practitioners %}
            <tr>
                <td>{{ practitioner.training_attendance_name|title }}</td>
                <td>{% if practitioner.training_attendance_sex != null %}{{ listData.getSex(practitioner.training_attendance_sex) }}{% endif %}</td>
                <td>{% if practitioner.training_attendance_country != null %}{{ listData.getCountryName(practitioner.training_attendance_country) }}{% endif %}</td>
                <td>
                    {% for session in practitioners_sessions %}
                        {% if session.training_attendance_unique == practitioner.training_attendance_unique %}
                            {% if session.training_session_starting_hour != null %}
                                {{ listData.getDay(session.training_session_date|date('N')) }}
                                {% if session.training_session_starting_hour|date('H') < 12 %}
                                    Matin
                                {% else %}
                                    Après-midi
                                {% endif %}
                            {% else %}
                                {{ session.training_session_duration/60 }} h
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </td>
                <td>{{ practitioner.training_attendance_payment }} €</td>
                <td>{{ listData.getPaymentType(practitioner.training_attendance_payment_type) }}</td>
                <td></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
{% endblock %}
