{% extends 'base.html.twig' %}

{% block title %}
    AFA-Manager
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <h1>Liste des stages</h1>
    <table>
        <tr>
            <th>Date</th>
            <th>Titre</th>
            <th># Cours</th>
            <th>Commandes</th>
        </tr>
        {% for training in trainings %}
            <tr>
                <td>{{ training.training_session_date|date("d/m/Y") }}</td>
                <td>{{ training.training_name }}</td>
                <td>{{ training.training_total_sessions }}</td>
                <td><a href="{{ path('training_attendance_add', {'training': training.training_id}) }}">Membres</a> - <a href="{{ path('training_attendance_foreign_add', {'training': training.training_id}) }}">Non AFA</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block javascripts %}
{% endblock %}
