{% extends 'base.html.twig' %}

{% block title %}
    AFA-Manager
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <h1>{{ club.getClubName()|title }}{% if nextManagedClub != 0 %}<a class="btn btn-primary" href="{{ path('club-membersList') }}?change_actual={{ nextManagedClub }}">Club Suivant</a>{% endif %}</h1>
    <h2>Liste des paiements en attente de validation du formulaire</h2>
    <table class="table table-sm table-hover unselectable">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Licence n°</th>
                <th scope="col">Prénom</th>
                <th scope="col">Nom</th>
                <th scope="col">Echéance</th>
                <th scope="col">Paiement</th>
                <th scope="col">Somme</th>
            </tr>
        </thead>
        <tbody>
        {% for member in list %}
            <tr>
                <td class="align-middle">{{ loop.index }}</td>
                <td class="align-middle">{{ member.Id }}</td>
                <td class="align-middle">{{ member.FirstName|title }}</td>
                <td class="align-middle">{{ member.Name|title }}</td>
                <td class="align-middle">{{ member.Deadline|date("d/m/Y") }}</td>
                <td class="align-middle">{{ member.Date|date("d/m/Y") }}</td>
                <td class="align-middle">{{ (member.Payment / 100)|number_format(2, ',', '.') }} €</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
{% endblock %}
